.navbar{
    background: #007C74;
    margin: 0 auto;
    border-radius: 0 0 18px 0;
    color: #eeeeee;
    height: 10vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.logo{
    flex:0;
    margin-left: 1.5em;
}
.navbar-heading{
    flex:1;
    margin-left:1em;
}