.layoutContainer{
    height: 99px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    position: relative;
}

.editBtn{
    margin: 0 5% 0 auto;
    padding: 8px 10px;
    border: 1px solid var(--white);
    border-radius: 2rem;
    font-size: 1.6rem;
}

.editBtn i{
    color: var(--white);
}

.svgContainer{
    flex: 0.05;
}

.title{
    align-self: center;
}

.title > p{
    color: var(--white);
    font-size: 2.1rem;
}

.svgContainer{
    padding:0 2em 0 3em;
}

.svgContainer >img{
    width: 10px;
}

.layoutContainer > img{
    position: absolute; 
    right:0;
    bottom:-26px;
    z-index: 11;
}