.createreciept2wrapper {
  height: calc(100vh - 109px);
}
.createreciept2container {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
}
.headercreatere2ciept1 {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headercreatere2ciept1 > h2 > img{
  width: 8px;
  margin-right: 0.5em;
}
.headercreatere2ciept1 > h2 {
  font-size: 1.7rem;
}
.headercreatere2ciept1 > p {
  font-size: 1.4rem;
  color: var(--darkGray);
  font-weight: 500;
}
.createreciept2formcontainer {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.iconcreatereciept2 > button {
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: var(--primary);
  height: 42px;
  width: 100%;
  color: var(--white);
  font-size: 1.6rem;
  position: relative;
}
.iconcreatereciept2 > button > span {
  position: absolute;
  right: 30px;
}

.createreciept2container > input {
  display: block;
  width: 100%;
  margin: 1.1em 0;
  color: var(--placeholder);
}
.createreciept2container > input {
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 1em;
  line-height: 1.5em;
  color: var(--placeholder);
}
.createreciept2container > input::placeholder {
  color: var(--placeholder);
  font-size: 1.5rem;
}
.createreciept2container > select {
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 0.5em;
  line-height: 1.5em;
  color: var(--placeholder);
  font-size: 1.5rem;
  display: block;
  width: 100%;
  margin: 1.2em 0;
  font-size: 1.6rem;
  background-color: var(--white);
}
