.donor-details-wrapper {
  height: calc(100vh - 109px);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.donor-details-container {
  width: 90vw;
  margin: 0 auto;
}

.donor-header {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donor-details > .inputField > input{
  display: block;
  width: 100%;
}

.donor-details > .inputField > p {
  color: rgb(240, 69, 69);
  margin-left: 0.5em;
  margin-top: 0.2em;
  font-size: 1.1rem;
}

.donor-details > .inputField{
  margin: 1.1em 0;
}

.donor-details > .inputField > input[type='text'],input[type='number']{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 1em;
}

.donor-details > .inputField > input::placeholder{
  color: var(--placeholder);
}

.donor-details > .inputField > input[type='text'],input[type='number']:focus{
  outline: none;
}

.donor-details > .inputField > select{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 0.5em;
  width: 100%;
  background-color: var(--white);
}

.donor-details > .inputField > select:focus{
  outline: none;
}

.donor-details > .inputField > select:invalid{
  color: var(--placeholder);
}

.donor-header > h2 > img{
  width: 8px;
  margin-right: 0.5em;
}
.donor-header > h2 {
  font-size: 1.7rem;
}
.donor-header > p {
  font-size: 1.4rem;
  color: var(--darkGray);
  font-weight: 500;
}

.reciept-button{
  width: 90%;
  margin: 0 auto;
  flex:0.4;
}

.reciept-button > button {
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: var(--primary);
  height: 42px;
  width: 100%;
  color: var(--white);
  font-size: 1.6rem;
  position: relative;
}
.reciept-button > button > span {
  position: absolute;
  right: 30px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  width: 90%;
  max-height: 240px;
  padding: 10px 16px;
  border-radius: 10px;
  overflow: auto;
  z-index:1;
}

.dropdown label{
  border-bottom: solid 1px silver;
  font-size: 1.5em;
  color: black;
  margin: 1em 0px;
  text-decoration: none;
  display: block;
}

.dropdown input {
  display: none;
}

.dropdown label:hover {background-color: #ddd;}

.show{
  display: block;
}

.radioButtons{
  display: flex;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.radioButtons label{
  margin-left:0.25em;
  font-weight: 500;
}

.radioButtons input{
  width: 15px;
  height: 15px;
}

.renewal{
  display: flex;
  align-items: center;
}

.renewal > label{
  font-size: 1.4rem;
}

.oneTimeDonor{
  display: flex;
  align-items: center;
  margin-left: 4em;
}

.oneTimeDonor > label{
  font-size: 1.4rem;
}

.inline-inputs{
  display: flex;
  justify-content: space-between;
}

.inline-inputs > select:first-child{
  width: 48%;
}

.inline-inputs > select:nth-child(2){
  width: 48%;
}

.inline-inputs > select{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 10px;
  padding-left: 0.5em;
  background-color: var(--white);
}

.inline-inputs > select:focus{
  outline: none;
}

.inline-inputs > select:invalid{
  color: var(--placeholder);
}

.dueFrom > h3 {
  font-size: 1.3rem;
}

.dueFrom > .inline-inputs{
  margin-top: 1em;
}

.dueFrom > .inputField{
  margin: 1.1em 0;
}

.dueFrom .inputField > input{
  width: 100%;
}

.dueFrom .inputField > input[type='text'],input[type='number']{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 1em;
}

.dueFrom .inputField > input::placeholder{
  color: var(--placeholder);
}

.dueFrom .inputField > input[type='text'],input[type='number']:focus{
  outline: none;
}

.offlineReceiptNo{
  text-align: right;
}

.offlineReceiptNo > .inputField{
  margin-top: 1.1em;
  margin-bottom: 0.8em;
}

.offlineReceiptNo > a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}