.donor-details-wrapper {
  height: calc(100vh - 109px);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.donor-details-container {
  width: 90vw;
  margin: 0 auto;
}

.donor-header {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donor-details > .inputField, .address-details > .inputField {
  margin: 1.1em 0;
}

.donor-details > .inputField > p , .address-details > .inputField > p{
  color: rgb(240, 69, 69);
  margin-left: 0.5em;
  font-size: 1.1rem;
}

.donor-details > .inputField > input{
  display: block;
  width: 100%;
}

.address-details > .inputField  > input{
  display: block;
  width: 100%;
}

.address-details > h2{
  margin-top: 1.4em;
  font-size: 1.7rem
}

.donor-details > .inputField > input[type='text'],input[type='number']{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 1em;
}

.donor-details > .inputField > input[type='text'],input[type='number']:focus{
  outline: none;
}

.address-details > .inputField > input[type='text']{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 1em;
}

.address-details > .inputField > input[type='text']:focus{
  outline: none;
}

.donor-details > .inputField > select{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 0.5em;
  font-size: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--white);
}

.donor-details > .inputField > select:focus{
  outline: none;
}

.donor-details > .inputField > select:invalid{
  color: var(--placeholder);
}

.address-details > .inputField > select{
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 0.5em;
  font-size: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--white);
}

.address-details > .inputField > select:invalid{
  color: var(--placeholder);
}

.donor-header > h2 > img{
  width: 8px;
  margin-right: 0.5em;
}
.donor-header > h2 {
  font-size: 1.7rem;
}
.donor-header > p {
  font-size: 1.4rem;
  color: var(--darkGray);
  font-weight: 500;
}

.reciept-button{
  width: 90%;
  margin: 0 auto;
  flex:0.7;
}

.reciept-button > button {
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: var(--primary);
  height: 42px;
  width: 100%;
  color: var(--white);
  font-size: 1.6rem;
  position: relative;
}
.reciept-button > button > span {
  position: absolute;
  right: 30px;
}