.manageVolContainer {
  width: 90vw;
  margin: 0 auto;
}

.searchReceiptVol {
  border: 2px solid var(--placeholder);
  border-radius: 2rem;
  height: 39px;
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
}

.searchReceiptVol input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  height:100%;
  width: 86%;
  height: 100%;
}

.searchReceiptVol input::placeholder {
  font-size: 1.5rem;
  color: var(--placeholder);
}

.searchReceiptVol .searchIconVol {
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--placeholder);
}

.volunteerSearchBox h4 {
  margin-top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 600;
}

/* .addBtnVol {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 14px 2px gray;
  color: var(--white);
  background-color: var(--primary);
  padding: 10px;
  position: fixed;
  bottom: 100px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
} */