.headDownWrapper {
  height: 10.9rem;
}

.headDownContainer {
  background-color: var(--primary);
  height: 9.3rem;
}

.headDownContent {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.headDownContainer button {
  color: #fff;
  background-color: #007c75;
  border: none;
}

.headDownContent p {
  font-size: 2.1rem;
  color: #fff;
}

.invertedCorner {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 50%;
  background: #fff;
  box-shadow: 20px 0 0 0 #007c75;
  z-index: -1;
}
