.headUpWrapper {
  background-color: var(--primary);
  border-bottom-right-radius: 2.5rem;
  height: 9.3rem;
}

.headUpContainer {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  flex: 0;
  color: #fff;
}

.headUpContainer .navHeading {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.8rem ;
}
