.head {
  background-color: #007c74;
  border-bottom-right-radius: 2.5rem;
}

.navbar-brand {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 0;
  color: #fff;
  margin-left: 1.5rem;
}

.head .navbar-brand .navHeading {
  flex: 1;
  display: inline-flex;
  color: #fff;
  margin-left: 1rem;
}
