.donors {
  width: 90vw;
  margin: 0 auto;
}

.donors h4 {
  margin-top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0;
}

.search-bar > i {
  border: solid 2px var(--placeholder);
  width: 39px;
  height: 39px;
  border-radius: 50%;
  color: var(--darkGray);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.search {
  border: solid 2px var(--placeholder);
  height: 3.9rem;
  border-radius: 40px;
  flex: 0.95;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.search > i {
  color: var(--placeholder);
  font-size: 1.5rem;
  margin: 1rem;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.search input::placeholder {
  font-size: 1.5rem;
  color: var(--placeholder);
}

.search i {
  border: none;
}

.donorSortBtns {
  display: flex;
  margin-bottom: 2rem;
}

.donorSortBtns button {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  border: none;
  color: var(--darkGray);
  background-color: white;
}

.donorSortBtns .activeDonorBtn{
  border-bottom: 2px solid var(--primary) !important;
  color: var(--primary);
}

.empty {
  display: grid;
  place-items: center;
  height: 50vh;
  font-size: 1.8rem;
}

.donorSortBtns {
  display: flex;
  flex-direction: row;
}
