@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.nav {
    position: fixed;
    bottom: 20px;
    left: 5%;
    width: 90%;
    z-index: 1;
    min-width: 250px;
    height: 58px;
    box-shadow: 2px 2px 15px 1px gray;
    border-radius: 2.5rem;
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    transition: background-color 0.1s ease-in-out;
}

.nav i{
    border-radius: 2rem;
}

.active {
    background: #cbe8e7;
    height: 44px;
    width: 60px;
    border-radius: 2rem;
}

.nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 44px;
    width: 60px;
    color: #000;
}

.footer {
    height: 90px;
    width: 100%;
}