.receiptGenContainer {
  height: calc(100vh - 10.9rem);
  margin: 0 2.4rem;
}

.receiptGenContent {
  height: calc(100% - 2.4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardRG {
  border: 1px solid var(--placeholder);
  height: 41.6rem;
  font-size: large; /*temp*/
  border-radius: 1.2rem;
  padding: 1.5rem;
  margin-top: 2.4rem;
}

.receiptGenBtnsGrp {
  display: flex;
  justify-content: space-between;
}

.btnGrpRow {
  height: 4.2rem;
  width: 48%;
  border: none;
  border-radius: 1.2rem;
  margin: 1.5rem 0;
  color: var(--primary);
  background-color: var(--lightGray);
  font-size: 1.6rem;
}

.bttnDone {
  height: 4.2rem;
  width: 100%;
  border: none;
  border-radius: 1.2rem;
  color: var(--lightGray);
  background-color: var(--primary);
  font-size: 1.6rem;
}