.newVolunteerContainer {
  width: 80vw;
  margin: 0 auto;
  height: calc(100vh - 9.9rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newVolunteerInput {
  margin-top: 5.5rem;
}

.newVolunteerInput > input {
  border: 2px solid var(--placeholder);
  border-radius: 1.2rem;
  width: 100%;
  height: 3.9rem;
  outline: none;
  padding: 1.2rem;
  font-size: 1.6rem;
}

.newVolunteerInput > input::placeholder {
  color: var(--placeholder);
}

.newVolunteerInput > p {
  color: rgb(240, 69, 69);
  margin-left: 1rem;
  margin-top: 0.4rem;
  font-size: 1.1rem;
}

.newVolunteerBtn {
  margin-bottom: 2.4rem;
}

.newVolunteerBtn > button {
  border: none;
  border-radius: 1.2rem;
  color: var(--white);
  background-color: var(--primary);
  width: 100%;
  height: 4.2rem;
  font-size: 1.6rem;
}
