.input{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.btn1{    display: inline-block;
    font-weight: 400;
    line-height: 3;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;

}
.btn1-primary {
     color: #fff; 
     background-color:#007c75; 
     border-color: #007c75;
    }
.btn-link {
        font-weight: 400;
        color: #007c75;
        text-decoration: underline;
}

.inputfield{
    width: 40.5px;
    height: 38px;
    

}
.firstinput{
    border-radius: 1px solid black;
}
.secondinput{
    border-radius: 1px solid black;
}
.thirdinput{
    border-radius: 1px solid black;
}
.fourthinput{
    border-radius: 1px solid black;
}