.otpWrapper{
    width: 90vw;
    margin: 0 auto;
    margin-top: 3em;
}

.otpWrapper > h2{
    font-size: 1.7rem;
    font-weight:600;
}

.resendOtp{
    text-align: center;
    margin-top: 1em;
}

.resendOtp .active{
    border: none;
    background: none;
    text-decoration: underline;
    color: var(--primary);
    font-weight: 500;
}

.resendOtp .disabled{
    border: none;
    background: none;
    text-decoration: underline;
}

.resendOtp > p{
    margin-top: 1em;
    font-size: 1.4rem;
    color: var(--primary);
}

.otpField{
    text-align: center;
    margin:2em 0 2.5em 0;
}

.otpField > input {
    width: 36px;
    height:36px;
    background-color:var(--white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0 5px;
    border-radius:12px;
    border: solid 2px var(--placeholder);
    color: var(--primary);
    font-weight: 500;
    padding: 0!important;
}

.otpField > input:focus {
    outline: none;
    border: solid 1px var(--primary);
    background-color: var(--secondary);
}

.otpButton{
    border: none;
    outline: none;
    width: 100%;
    height: 42px;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 10px;
    font-size: 1.5rem;
}