.exitProfile{
    height: 100vh;
    background-color: #3a9994;
}

.header{
    background-color: var(--primary);  
    width: auto;
    height: 300px;
    border-bottom-right-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header > h1{
    color: var(--white);
    font-size: 2.8rem;
    font-weight:700;
    margin:0.5em 0;
}

.header > p{
    color: #87d3d0;
    font-size: 1.2rem;
    border-top: solid 1px;
    padding-top: 0.1em;
}

.iconContainer > img{
    width:43px;
    height: auto;
}

.profileContainer{
    background-color: var(--primary);   
    height: 2vh;;
}

.profileContent{
    background-color:  #3a9994;
    color: var(--white);
    width: auto;
    padding-top: 3em;
    border-top-left-radius:2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContent > h1{
    font-size:2rem;
}

.profileContent > p{
    text-align: center;
    font-size:2rem;
    font-size: 1.4rem;
    width:70%;
    margin:0.5em auto 2em auto;
}

.buttonContainer > button{
    border: none;
    outline: none;
    background-color: var(--white);
    height: 42px;
    width: 217px;
    color:var(--primary);
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 12px;
}