.edit-donor-details-wrapper-1 {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-donor-details-container-1 {
  width: 90vw;
  margin: 0 auto;
}

.edit-donor-header-1 {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-donor-details-1>.edit-inputField {
  margin: 1.1em 0;
}

.edit-donor-details-1>p,
.edit-donor-details-1>.edit-inputField>p {
  color: rgb(240, 69, 69);
  margin-left: 0.5em;
  margin-top: 0.2em;
  font-size: 1.1rem;
}

.edit-donor-details-1>.edit-inputField>input {
  display: block;
  width: 100%;
}

.edit-donor-details-1>.edit-inputField>input[type="text"],
input[type="number"],
input[type="date"] {
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 1em;
  background-color: var(--white);
}

.edit-donor-details-1>.edit-inputField>input[type="text"]::placeholder {
  color: var(--placeholder);
}

.edit-donor-details-1>.edit-inputField input[type="text"],
input[type="number"],
input[type="date"]:focus {
  outline: none;
}

.edit-donor-details-1>select {
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 0.5em;
  font-size: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--white);
}

.edit-donor-details-1>select:invalid {
  color: var(--placeholder);
}

.edit-donor-header-1>h2>img {
  width: 8px;
  margin-right: 0.5em;
}

.edit-donor-header-1>h2 {
  font-size: 1.7rem;
}

.edit-donor-header-1>p {
  font-size: 1.4rem;
  color: var(--darkGray);
  font-weight: 500;
}

.edit-spinner {
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  height: 39px;
  margin-top: 1.2em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-spinner>input[type="number"] {
  height: 100%;
  width: 80%;
  padding-left: 1em;
  outline: none;
  border: none;
}

.edit-spinner>input[type="number"]::placeholder {
  color: var(--placeholder);
}

.edit-radioButtons {
  display: flex;
  margin-top: 1em;
}

.edit-radioButtons label {
  margin-left: 0.25em;
  font-weight: 500;
}

.edit-radioButtons input {
  width: 15px;
  height: 15px;
}

.edit-male {
  display: flex;
  align-items: center;
}

.edit-male>label {
  font-size: 1.4rem;
}

.edit-female {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.edit-female>label {
  font-size: 1.4rem;
}

.edit-address-details>.edit-inputField {
  margin: 1.1em 0;
}

.edit-address-details>.edit-inputField>p {
  color: rgb(240, 69, 69);
  margin-left: 0.5em;
  font-size: 1.1rem;
}

.edit-address-details>.edit-inputField>input {
  display: block;
  width: 100%;
}

.edit-address-details>h2 {
  margin-top: 1.4em;
  font-size: 1.7rem;
}

.edit-address-details>.edit-inputField>input[type="text"],
input[type="number"] {
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 1em;
}

.edit-address-details>.edit-inputField>input::placeholder {
  color: var(--placeholder);
}

.edit-address-details>.edit-inputField>input[type="text"]:focus {
  outline: none;
}

.edit-address-details>.edit-inputField>select {
  height: 39px;
  border: solid 2px var(--placeholder);
  border-radius: 12px;
  padding-left: 0.5em;
  font-size: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--white);
}

.edit-address-details>.edit-inputField>select:invalid {
  color: var(--placeholder);
}

.edit-donorLastDonation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.edit-donorLastDonation button {
  font-size: 1.3rem;
  border: none;
  background-color: var(--primary);
  border-radius: 0.8rem;
  color: white;
  padding: 0.5rem 1rem;
}

.edit-program-details {
  margin-bottom: 2.5rem;
}