.detailsPreview {
  margin: 0 2.4rem;
}

.detailsPreview .createRecDetails h3 {
  margin: 2.4rem 0 1.4rem;
  font-size: 1.7rem;
}

.detailsPreview .createRecDetails p {
  color: var(--darkGray);
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
}

.detailsPreview > .createRecDetails span {
  border-bottom: solid 1px var(--placeholder);
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding-bottom:0.3em;
}

.detailsPreview .createRecDetails hr {
  margin: 0.6rem auto;
  border: none;
}

.btnsPreview {
  display: flex;
  justify-content: space-between;
  margin: 2.4rem 0;
}

.btnsPreview button {
  height: 4.2rem;
  width: 48%;
  font-size: 1.6rem;
  border: none;
  border-radius: 1.2rem;
}

.btnsPreview .editBtnPreview {
  background-color: var(--lightGray);
  color: var(--primary);
}

.btnsPreview .submitBtnPreview {
  background-color: var(--primary);
  color: var(--white);
}