.manageRecContainer {
  width: 90vw;
  margin: 0 auto;
}

.searchReceipt {
  border: 2px solid var(--placeholder);
  border-radius: 2rem;
  height: 39px;
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
}

.searchReceipt input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

.searchReceipt input::placeholder {
  font-size: 1.5rem;
  color: var(--placeholder);
}

.searchReceipt .searchIcon {
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--placeholder);
}

.receiptSearchBox h4 {
  margin-top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.receiptSearchBox .filterIcon {
  border: none;
  background-color: var(--white);
  margin-right: 1rem;
  color: var(--placeholder);
}

.addBtn {
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  border-radius: 2.4rem;
  box-shadow: 0 0 14px 2px gray;
  color: var(--white);
  background-color: var(--primary);
  position: fixed;
  bottom: 8.4rem;
  right: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate{
  margin-top: 3em;
  text-align: center;
  /* border: solid 3px red; */
}

.paginationButtons {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 7px 8px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #007c75;
  color: #007c75;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: #007c75;
}

.paginationActive a {
  color: white;
  background-color: #007c75;
}

.paginationDisabled a {
  color: grey;
  border: none;
}