.donor-details-wrapper-1 {
    height: calc(100vh - 109px);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .donor-details-container-1 {
    width: 90vw;
    margin: 0 auto;
  }
  
 .donor-header-1 {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .donor-details-1 > .inputField{
    margin: 1.1em 0;
  }

  .donor-details-1 > p, .donor-details-1 > .inputField > p{
    color: rgb(240, 69, 69);
    margin-left: 0.5em;
    margin-top: 0.2em;
    font-size: 1.1rem;
  }
  
  .donor-details-1 > .inputField > input{
    display: block;
    width: 100%;
  }
  
  .donor-details-1 > .inputField > input[type='text'],input[type='number'],input[type='date']{
    height: 39px;
    border: solid 2px var(--placeholder);
    border-radius: 12px;
    padding-left: 1em;
    background-color: var(--white);
  }

  .donor-details-1 > .inputField input[type='text'],input[type='number'],input[type='date']:focus{
    outline: none;
  }
  
  .donor-details-1 > select{
    height: 39px;
    border: solid 2px var(--placeholder);
    border-radius: 12px;
    padding-left: 0.5em;
    font-size: 1.5rem;
    width: 100%;
    font-size: 1.6rem;
    background-color: var(--white);
  }
  
  .donor-details-1 > select:invalid{
    color: var(--placeholder);
  }
  
  .donor-header-1 > h2 > img{
    width: 8px;
    margin-right: 0.5em;
  }
  .donor-header-1 > h2 {
    font-size: 1.7rem;
  }
  .donor-header-1 > p {
    font-size: 1.4rem;
    color: var(--darkGray);
    font-weight: 500;
  }

  .reciept-button-1{
    width: 90%;
    margin: 0 auto;
    flex: 0.3;
  }
  
  .reciept-button-1 > button {
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--primary);
    height: 42px;
    width: 100%;
    color: var(--white);
    font-size: 1.6rem;
    position: relative;
  }
  .reciept-button-1 > button > span {
    position: absolute;
    right: 30px;
  }

.spinner{
    border: solid 2px var(--placeholder);
    border-radius: 12px;
    height: 39px;
    margin-top: 1.2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spinner > input[type=number]{
    height: 100%;
    width: 80%;
    padding-left: 1em;
    outline: none;
    border: none;
}

.radioButtons{
    display: flex;
    margin-top: 1em;
}

.radioButtons label{
    margin-left:0.25em;
    font-weight: 500;
}

.radioButtons input{
    width: 15px;
    height: 15px;
}

.male{
    display: flex;
    align-items: center;
}

.male > label{
    font-size: 1.4rem;
}

.female{
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.female > label{
    font-size: 1.4rem;
}