.createrecieptwrapper{
    height:calc(100vh - 109px);
}
.createrecieptcontainer{
    width: 90vw;
    margin: 0 auto;
    height: 100%;
}
.headercreatereciept1{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 2em;
}
.headercreatereciept1 > h2{
    font-size: 1.7rem;
}
.headercreatereciept1 > p{
    font-size:1.4rem;
    color: var(--darkGray);
    font-weight: 500;
}
.createrecieptformcontainer{
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.iconcreatereciept1>button{
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--primary);
    height: 42px;
    width: 100%;
    color: var(--white);
    font-size: 1.6rem;
    position: relative;
}
.iconcreatereciept1>button>span{
    position: absolute;
    right: 30px;
}

.createrecieptcontainer > input{
    display: block;
    width: 100%;
    margin: 1.1em 0;
}
.createrecieptcontainer> input[type=text]{
    height: 39px;
    border: solid 2px var(--placeholder);
    border-radius: 12px;
    padding-left: 1em;
    line-height: 1.5em;
}

.createrecieptcontainer > input[type=text]::placeholder,input[type=number]::placeholder{
    color: var(--placeholder);
    font-size: 1.5rem;
}
.createrecieptcontainer> input[type=text]:focus ,input[type=number]:focus{
    outline: none;
}

.spinner{
    border: solid 2px var(--placeholder);
    border-radius: 12px;
    height: 39px;
    margin-top: 1.2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spinner > input[type=number]{
    height: 100%;
    width: 80%;
    padding-left: 1em;
    outline: none;
    border: none;
}