.header{
    background-color: var(--primary);    
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.header > h1{
    color: var(--white);
    font-size: 2.5em;
}

.header > img{
    position: absolute;
    right: 0;
    bottom:-27px;
    z-index: 11;
}

.iconContainer{
    width: 57px;
    height: 33px;
    flex:0.2;
}

.iconContainer > img{
    width: 100%;
    height: auto;
}

