.headerdonorpage1{
    width: 100%;
    background-color: #007c75;
    height: 93px;
}
.headingdonorpage1{
    margin-left: 20vw;
   padding-top: 10px;
}

.filterbutton1{
    width: 80vw;
    margin-top: 2em;
    height: 3.5em;
    margin-left: 10vw;
    border-radius: 18px;
    background-color: white;
    border: 1px solid #b6b6b6;
    display: flex;
    display: flex;
    justify-content: space-around;
}
 .clockicon1{
    font-size: 2.3rem;
   /* margin-right: 30px; */
   color: #b6b6b6;
}
.textfilter1{
    font-size: 2.3rem;
    /* margin-right: 30px; */
}
.sortoptiondonor1{
    font-size: 2.3rem;
    color: #b6b6b6;
}
